.Weather {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid #dadde1;
    border-radius: 5px;
    color: rgb(135, 135, 135);
    padding: 10px;
}

.Weather h1 {
    font-size: 24px;
    font-weight: 100;
    margin: 20px 0 0 0;
    line-height: 29px;
}

weather ul {
    margin: 0;
    padding: 0;
}

weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}

.Weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 77px;
    margin: 10px 0 0 0;
    font-weight: 400;
    margin-left: 10px;
}

.Weather canvas {
    margin: 10px 0 0 0;
}

.Weather .unit {
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    margin: 10px 0 0 0;
    position: relative;
    top: -10px;
    line-height: 1;
}