.WeatherForecast {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center;
}

.WeatherForecast-temperature-min {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
    opacity: 0.5;
    margin-left: 10px;
}