.Weather {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: 8px solid #dadde1;
    border-radius: 16px;
    color: rgb(160, 138, 215);
    padding: 40px;
    background-color: #383245;
    max-width: 700px;
    height: max-content;
    margin: 0 auto;
    margin-top: 40px;
}

.Weather .logo {
    max-width: 150px;
    display: block;
}

.Weather .logo {
    max-width: 150px;
    display: block;
    margin-bottom: 20px;
}

.Weather form {
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.Weather .form-control {
    background: #f9f7fe;
    border: none;
    padding: 15px 20px;
    display: inline-block;
    border-radius: 6px;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    height: 50px;
    line-height: 20px;
}

.Weather .btn {
    background: #8d8b92;
    font-weight: bold;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    height: 50px;
}

.Weather h1 {
    font-size: 48px;
    font-weight: 400;
    margin: 0;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
}

.Weather li strong {
    color: white;
    font-weight: normal;
}

.Weather .temperature {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 64px;
    line-height: 64px;
    margin-left: 5px;
    font-weight: 400;
    margin-left: 10px;
}

.Weather canvas {
    margin: 10px auto;
}

.Weather .unit {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0 0 0;
    position: relative;
    top: -34px;
    line-height: 1;
}

.WeatherInfo .row {
    display: flex;
    justify-content: space-evenly;
}

.col-6 ul {
    text-align: left;
    list-style-type: none;
}

.d-flex {
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}